:root {
  --darkerPrimary: #0d1115;
  --primary: #0d1127;
  --litePrimary: #0a1435;
  --backgroundColor: #f4f4f4;
  --custGrey: #4f5156;
  --borderColor: rgba(128, 128, 128, 0.3);
  --lightGrey: #62646a;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: cornflowerblue;
}
